.button {
    background-color: var(--palette-main-1);
    border: solid thin var(--palette-main-3);
    padding: var(--padding-2);
    color: var(--palette-main-3);
    text-transform: uppercase;
    font-weight: 600;
    transition: all ease var(--transition-time-short);
    cursor: pointer;
    font-size: 1.1em;

    &:hover:not(:disabled) {
        background-color: var(--palette-primary-main);
        color: var(--palette-light);
    }
    &:disabled {
        cursor: unset;
        filter: brightness(80%);
    }
}
a > .button {
    width: 100%;
    height: 100%;
}
.button_selectable[data-selected="true"] {
    background-color: var(--palette-primary-light);
    color: var(--palette-light)
}