.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.page__header {
    padding: var(--padding-2);
    box-shadow: 0 0 0.1em 0 var(--palette-main-3);
    display: flex;
    overflow: auto;
    flex-shrink: 0;
    z-index: var(--z-above-1);
}
.page__header-content {
    display: flex;
    gap: var(--padding-2);
}
.page__header-spacer {
    flex-grow: 1;
}
.page__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: var(--padding-4);
    gap: var(--padding-4);
    background-color: var(--palette-main-1);
}
.page__content_row {
    flex-direction: row;
}
.page__content_center {
    justify-content: center;
    align-items: center;
}