@use '/src/styles//utilitary//flex.scss' as flex;
.section {
    padding: var(--padding-2);
    border: solid thin var(--palette-main-2);
}
.section_important-4 {
    border: solid medium var(--palette-main-3);
}
.section_important-3 {
    border: solid medium var(--palette-main-2);
}
.section_important-2 {
    border: solid thin var(--palette-main-3);
}
.section__row {
    @include flex.u-row;
    @include flex.u-gap-2;
}
.section__column {
    @include flex.u-column;
    @include flex.u-gap-2;
}