<template>
<PageTemplate :class="{page__content_center: !isMobile, page__content_regular: isMobile}">
    <section :class="{'u-limit-width': !isMobile}">
        <section class="section section_important-4 u-column u-gap-2 u-bg-main">
            <h1>Вход</h1>
            <LabelledInput
                label="Ник"
                v-model="user.username"
            />
            <LabelledInput
                label="Пароль"
                type="password" 
                v-model="user.password"
            />
            <p v-if="errorText" class="text text_error">
                {{ errorText }}
            </p>
            <button autofocus class="button" type="button" @click="onLogin">
                Войти
            </button>
            <hr/>
            <RouterLink :to="RoutePaths.Registration">
                <button class="button">
                    Зарегистрироваться
                </button>
            </RouterLink>
        </section>
        <p>
            В данном случае, учитывая что это тестовое задание, в приложении представлена лишь самая базовая
            система входа в аккаунт, которая не учитывает множество аспектов, которые в реальной жизни разумеется
            были бы выполнены иначе (Например, отсутствие возможности восстановить пароль, либо войти при помощи email).
        </p>
    </section>
</PageTemplate>
</template>
<script lang="ts">
import AuthApi from '@/api/auth/auth';
import LabelledInput from '@/components/LabelledInput.vue';
import PageTemplate from '@/components/PageTemplate.vue';
import router from '@/router';
import { RoutePaths } from '@/router/paths';
import { useDisplayContext } from '@/stores/displayContext';
import { useKeypress } from '@/hooks/useKeypress';
import { validateUsername, validatePassword } from '@root/libs/validator';
import { mapState } from 'pinia';
import {defineComponent} from 'vue'
import { Key } from 'ts-key-enum';

export default defineComponent({
    name: "LoginPage",
    components: { PageTemplate, LabelledInput },
    computed: {
        ...mapState(useDisplayContext, ['isMobile']),
        RoutePaths: () => RoutePaths
    },
    data: (() => ({
        user: {
            username: '',
            password: ''
        },
        errorText: ''
    })),
    methods: {
        onLogin() {
            const usernameValidationResult = validateUsername(this.user.username)
            const passwordValidationResult = validatePassword(this.user.password)

            if (!usernameValidationResult.valid) {
                this.errorText = usernameValidationResult.errorText
                return
            }
            if (!passwordValidationResult.valid) {
                this.errorText = passwordValidationResult.errorText
                return
            }
            this.errorText = ''

            AuthApi.login(this.user)
                .then(() => router.push(RoutePaths.MenuView))
                .catch(() => this.errorText = "Что-то пошло не по плану. Возможно, вы ввели неверный логин или пароль.")
        }
    },
    mounted() {
        useKeypress(Key.Enter, this.onLogin)
    }
})
</script>
<style scoped lang="scss">
@import '@/styles/components/section.scss';
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/button.scss';
@import '@/styles/components/text.scss';
@import '@/styles/utilitary/color-utils.scss';
.u-limit-width {
    width: max(min(50%, 25em), 20em);
}
</style>