<template>
<div :class="{page__content: true, page__content_row: !isSmall}">
    <section class="section section_important-4 categories-list-container u-bg-main"
        :class="{'categories-list-container_for-small-screen': isSmall}"
    >
        <ul v-if="categories.length" class="categories-list u-column">
            <li class="categories-list__item" v-for="category in categories" :key="category.id">
                <button type="button"
                    class="categories-list__item-content button button_selectable"
                    :data-selected="selectedCategory?.id === category.id"
                    @click="onCategorySelected(category)"
                >
                    {{ category.name }}
                </button>
            </li>
        </ul>
        <p v-else>Категории отсутствуют</p>
    </section>
    <section class="section section_important-4 dishes-container u-column u-gap-2 u-grow u-bg-main"
        :class="{'dishes-container_for-small-screen': isSmall}"
    >
        <div v-if="dishes.length" v-for="dish in dishes" class="section section_important-2 dish u-gap-2">
            <h3>{{ dish.name }}</h3>
            <p v-if="dish.description" class="dish__description">
                {{ dish.description }}
            </p>
            <div v-if="dish.images.length" class="section dish__images-container u-bg-main-1">
                <img class="dish__image" v-for="image in dish.images" :src="imagesLinks.get(image.id)"/>
            </div>
        </div>
        <p v-else>
            Категория пуста
        </p>
    </section>
</div>
</template>
<script lang="ts">
import DishApi from '@/api/dish/dish';
import DishCategoryApi from '@/api/dishCategoy/dishCategory';
import DishImageApi from '@/api/dishImage/dishImage';
import { useDisplayContext } from '@/stores/displayContext';
import type { DishCategory } from '@prisma/client';
import type { DishWithImages } from '@root/server/api/dish/types';
import { mapState } from 'pinia';
import {defineComponent, toRaw} from 'vue'

type ImagesUrlMap = Map<number, string>

export default defineComponent({
    name: "MenuViewPage",
    data: (() => ({
        categories: [] as DishCategory[],
        selectedCategory: null as DishCategory | null,
        imagesLinks: new Map() as ImagesUrlMap,
        dishes: [] as DishWithImages[]
    })),
    computed: {
        ...mapState(useDisplayContext, ['isSmall'])
    },
    watch: {
        selectedCategory() {
            if (!this.selectedCategory) {
                return
            }
            DishApi.getWithImagesByCategory(this.selectedCategory.id)
                .then(dishes => this.dishes = dishes)
        },
        async dishes() {
            const links = structuredClone(toRaw(this.imagesLinks))
            const newLinks = new Map() as ImagesUrlMap
            const imagesToLoad = []

            for (const dish of this.dishes) {
                for (const image of dish.images) {
                    if (links.has(image.id)) {
                        newLinks.set(image.id, links.get(image.id) as string)
                    } else {
                        imagesToLoad.push(image.id)
                    }

                    links.delete(image.id)
                }
            }

            for (const link of [...links.values()]) {
                URL.revokeObjectURL(link)
            }

            const loadedImages = await Promise.all(imagesToLoad.map(async (id) => {
                const blob = await DishImageApi.getImageFile(id);
                return {
                    id,
                    blob
                };
            }));
            for (const loadedImage of loadedImages) {
                newLinks.set(loadedImage.id, URL.createObjectURL(loadedImage.blob));
            }
            this.imagesLinks = newLinks;
        }
    },
    methods: {
        onCategorySelected(category: DishCategory) {
            this.selectedCategory = category
        },
        fetchCategories() {
            DishCategoryApi.getAll()
                .then(categories => this.categories = categories)
        }
    },
    mounted() {
        this.fetchCategories()
    }
})
</script>
<style scoped lang="scss">
@import '@/styles/components/page.scss';
@import '@/styles/utilitary/flex.scss';
@import '@/styles/utilitary/color-utils.scss';
@import '@/styles/components/section.scss';
@import '@/styles/components/button.scss';

.categories-list-container {
    overflow: auto;
    min-width: fit-content;
}
.categories-list-container_for-small-screen {
    overflow: visible;
    max-height: fit-content;
}
.categories-list {
    margin: 0;
    padding: 0;
    gap: var(--padding-1);
}
.categories-list__item {
    list-style-type: none;
}
.categories-list__item-content {
    width: 100%;
}

.dishes-container {
    overflow: auto;
}
.dishes-container_for-small-screen {
    overflow: visible;
}
.dish {
    display: flex;
    flex-direction: column;
}
.dish__description {
    margin: 0;
}
.dish__images-container {
    display: flex;
    overflow: auto;
    max-height: 16em;
    gap: var(--padding-2);
}
.dish__image {
    flex-grow: 1;
    object-fit: contain;
    max-height: 100%;
    border: solid thin var(--palette-main-2);
}
</style>