<template>
    <div class="page__content">
        <EditCategoriesSection/>
        <EditDishesSection/>
    </div>
</template>
<script lang="ts">
import EditCategoriesSection from '@/sections/EditCategoriesSection.vue';
import EditDishesSection from '@/sections/EditDishesSection.vue';
import {defineComponent} from 'vue'

export default defineComponent({
    name: "MenuEditPage",
    components: { EditCategoriesSection, EditDishesSection }
})
</script>
<style scoped lang="scss">
@import '@/styles/components/page.scss';
</style>