<template>
<PageTemplate :class="{page__content_center: !isMobile, page__content_regular: isMobile}">
    <section :class="{'u-limit-width': !isMobile}">
        <section class="section section_important-4 u-column u-gap-2 u-bg-main">
            <h1>Регистрация</h1>
            <LabelledInput
                label="Ник"
                v-model="user.username"
            />
            <LabelledInput
                label="Пароль"
                type="password" 
                v-model="user.password"
            />
            <LabelledInput
                label="Администратор"
                type="checkbox"
                v-model="user.isAdmin"
            />
            <p v-if="errorText" class="text text_error">
                {{ errorText }}
            </p>
            <button class="button" type="button" @click="onRegister">
                Зарегистрироваться
            </button>
        </section>
        <p>
            В данном случае, учитывая что это тестовое задание, в приложении представлена лишь самая базовая
            система регистрации, которая не учитывает множество аспектов, которые в реальной жизни разумеется
            были бы выполнены иначе (Например, отсутствие возможности зарегистрировать пользователя-администратора
            с публичной страницы, необходимость использованя email пользователя при регистрации с последующим
            подтверждением регистрации по email и т.д.).
        </p>
    </section>
</PageTemplate>
</template>
<script lang="ts">
import AuthApi from '@/api/auth/auth';
import LabelledInput from '@/components/LabelledInput.vue';
import PageTemplate from '@/components/PageTemplate.vue';
import { useKeypress } from '@/hooks/useKeypress';
import router from '@/router';
import { RoutePaths } from '@/router/paths';
import { useDisplayContext } from '@/stores/displayContext';
import { validateUsername, validatePassword } from '@root/libs/validator';
import { mapState } from 'pinia';
import { Key } from 'ts-key-enum';
import {defineComponent} from 'vue';
import { UserRole } from "@root/server/database/types";

export default defineComponent({
    name: "RegistrationPage",
    components: { PageTemplate, LabelledInput },
    computed: {
        ...mapState(useDisplayContext, ['isMobile'])
    },
    data: (() => ({
        user: {
            username: '',
            password: '',
            isAdmin: true
        },
        errorText: ''
    })),
    methods: {
        onRegister() {
            const usernameValidationResult = validateUsername(this.user.username)
            const passwordValidationResult = validatePassword(this.user.password)

            if (!usernameValidationResult.valid) {
                this.errorText = usernameValidationResult.errorText
                return
            }
            if (!passwordValidationResult.valid) {
                this.errorText = passwordValidationResult.errorText
                return
            }
            this.errorText = ''

            AuthApi.register({
                username: this.user.username,
                password: this.user.password,
                role: this.user.isAdmin ? UserRole.ADMIN : UserRole.CUSTOMER
            }).then(() => {
                router.push(RoutePaths.Login)
            }).catch(error => this.errorText = error)
        }
    },
    mounted() {
        useKeypress(Key.Enter, this.onRegister)
    }
})
</script>
<style scoped lang="scss">
@import '@/styles/components/section.scss';
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/button.scss';
@import '@/styles/components/text.scss';
@import '@/styles/utilitary/color-utils.scss';
.u-limit-width {
    width: max(min(50%, 25em), 20em);
}
</style>