<template>
    <div>
        <h2>{{ dish.name }}</h2>
        <p>{{ dish.description }}</p>
        <!--img v-if="dishImages.length"
            :src="currentDishImage.src"
            :alt="currentDishImage.alt"
        /-->
    </div>
</template>

<script lang="ts">
import type { Dish, DishImage } from '@root/libs/prismaTypes';
import { defineComponent, type PropType } from 'vue'

type CurrentDishImage = {
    src: string,
    alt: string
}

export default defineComponent({
    name: "DishCard",
    props: {
        dish: {
            type: {} as PropType<Dish>,
            required: true
        }
    },
    data: (() => ({
        dishImages: [] as DishImage[]
    }))
})
</script>

<style scoped>

</style>