<template>
    <label :class="type === 'checkbox' ? 'u-row u-gap-1' : 'u-column'">
        {{ label }}
        <input v-if="type === 'checkbox'"
            :type="type"
            :checked="(Boolean(modelValue))"
            @change="onCheckboxChange"
            :disabled="disabled"
        />
        <input v-else-if="type === 'file'"
            type="file"
            multiple
            @input="onFilesInput"
        />
        <input v-else
            class="text-input"
            :disabled="disabled"
            :type="type"
            :value="modelValue"
            @change="onTextChange"
        />
    </label>
</template>

<script lang="ts">
import { defineComponent, type InputTypeHTMLAttribute, type PropType } from 'vue'

export default defineComponent({
    name: "LabelledInput",
    emits: ['change', 'update:modelValue'],
    props: {
        modelValue: {
            type: [String, Boolean]
        },
        label: {
            type: String,
            default: null
        },
        type: {
            type: String as PropType<InputTypeHTMLAttribute>,
            default: "text" as InputTypeHTMLAttribute
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        onCheckboxChange() {
            this.$emit('change', !this.modelValue)
            this.$emit('update:modelValue', !this.modelValue)
        },
        onTextChange(e: any) {
            this.$emit('change', (e.target as HTMLInputElement)?.value)
            this.$emit('update:modelValue', (e.target as HTMLInputElement)?.value)
        },
        onFilesInput(e: any) {
            const files = [...((e.target as HTMLInputElement).files || [])]
            this.$emit('change', files)
            this.$emit('update:modelValue', files);
        } 
    }
})
</script>

<style scoped lang="scss">
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/input.scss';
</style>