<template>
    <div v-if="visible" class="loading-overlay">
        <SvgIcon
            class="loading-overlay__loading-icon"
            type="mdi"
            :path="loadingIcon"
            size="20%"
            color="var(--palette-primary-light)"
        />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
// @ts-ignore
import SvgIcon from "@jamescoyle/vue-icon"
import { mdiLoading  } from "@mdi/js"

export default defineComponent({
    name: "LoadingOverlay",
    components: {SvgIcon},
    props: {
        visible: {
            type: Boolean,
            required: true
        }
    },
    setup() {
        return {
            loadingIcon: mdiLoading 
        }
    }
})
</script>
<style scoped lang="scss">
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-popup-2);
    background-color: rgba(black, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-overlay__loading-icon {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}
</style>