<template>
<teleport to="body" v-if="modelValue">
    <div class="modal" @click.self="close">
        <div class="modal__content-container section section_important-4">
            <slot/>
        </div>
    </div>
</teleport>
</template>

<script lang="ts">
import { useKeypress } from '@/hooks/useKeypress';
import { Key } from 'ts-key-enum';
import { defineComponent } from 'vue'

export default defineComponent({
    name: "ModalWindow",
    emits: ['update:modelValue'],
    props: {
        modelValue: {
            type: Boolean,
            required: true
        }
    },
    methods: {
        close() {
            this.$emit('update:modelValue', false)
        }
    },
    mounted() {
        useKeypress(Key.Escape, this.close)
    }
})
</script>

<style scoped lang="scss">
.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.3);
    padding: var(--padding-4);
    z-index: var(--z-popup-2);
}
.modal__content-container {
    flex-grow: 1;
    padding: var(--padding-4);
    background-color: var(--palette-light);
    overflow: auto;
}
@import '@/styles/components/section.scss'
</style>