<template>
    <div class="page__content">
        <slot/>
    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: "PageTemplate"
})
</script>
<style scoped lang="scss">
@import "@/styles/components/page.scss"
</style>