<template>
    <label class="u-column">
        <span v-if="label">
            {{ label }}
        </span>
        <textarea class="text-area" rows="4" :value="modelValue" @change="onTextChange"/>
    </label>
</template>

<script lang="ts">
import { defineComponent, type PropType } from 'vue'

export default defineComponent({
    name: "TextArea",
    emits: ['change', 'update:modelValue'],
    props: {
        label: {
            type: String,
            default: null
        },
        modelValue: {
            type: String as PropType<string | undefined>,
            required: true
        }
    },
    methods: {
        onTextChange(e: Event) {
            const text = (e.target as HTMLTextAreaElement).value
            this.$emit('change', text)
            this.$emit('update:modelValue', text)
        }
    }
})
</script>
<style scoped lang="scss">
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/input.scss';
</style>