.u-bg- {
    &main {
        background-color: var(--palette-main);
    }
    &main- {
        &1 {
            background-color: var(--palette-main-1);
        }
        &2 {
            background-color: var(--palette-main-2);
        }
        &3 {
            background-color: var(--palette-main-3);
        }
    }
}