@mixin u-column {
    display: flex;
    flex-direction: column;
}
@mixin u-row {
    display: flex;
    flex-direction: row
}

.u-column {
    @include u-column;
}
.u-row {
    @include u-row
}

@mixin u-gap-1 {gap: var(--padding-1);}
@mixin u-gap-2 {gap: var(--padding-2);}
@mixin u-gap-3 {gap: var(--padding-3);}
@mixin u-gap-4 {gap: var(--padding-4);}

.u-gap- {
    &1 {
        @include u-gap-1;
    }
    &2 {
        @include u-gap-2;
    }
    &3 {
        @include u-gap-3;
    }
    &4 {
        @include u-gap-4;
    }
}
.u-grow {
    flex-grow: 1;
}
.u-wrap {
    flex-wrap: wrap;
}
.u-justify-content-flex-end {
    justify-content: flex-end;
}

.u-align-items-center {
    align-items: center;
}