<template>
<section class="section section_important-4 u-bg-main">
    <div class="u-row u-gap-2 u-wrap">
        <div class="u-column u-gap-2 section u-grow">
            <h2>Существующие блюда</h2>
            <div class="u-row u-gap-2 u-align-items-center">
                <span>Блюда:</span>
                <select class="select" @change="onDishSelect" :value="`${selectedDish?.categoryId}-${selectedDish?.id}`">
                    <optgroup v-for="category in dishCategoriesWithDishes" :label="category.name">
                        <option v-for="dish in category.dishes" :value="`${dish.categoryId}-${dish.id}`">
                            {{ dish.name }}
                        </option>
                    </optgroup>
                </select>
            </div>
            <hr/>
            <div class="u-row u-gap-4 u-wrap">
                <div class="u-column u-gap-2 u-justify-content-flex-end u-grow">
                    <LabelledInput label="Название"
                        :model-value="selectedDish?.name"
                        :disabled="!selectedDish"
                        @change="selectedDish ? selectedDish.name = $event : null"
                    />
                    <TextArea :model-value="selectedDish?.description || ''"
                        label="Описание"
                        @change="selectedDish ? selectedDish.description = $event : null"                    
                    />
                    <div class="u-row u-gap-2 u-align-items-center">
                        <span>Категория:</span>
                        <select class="select u-grow" :value="selectedDish?.categoryId"
                            @change="onSelectedDishCategorySelect"
                        >
                            <option v-for="category in dishCategoriesWithDishes" :value="category.id">
                                {{ category.name  }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="button"
                        :disabled="!selectedDish"
                        @click="onUpdateSelectedDish"
                    >
                        Обновить блюдо
                    </button>
                    <button
                        type="button"
                        class="button"
                        :disabled="!selectedDish"
                        @click="editDishImagesModalVisible = true"
                    >
                        Редактировать картики
                    </button>
                    <hr/>
                    <button
                        type="button"
                        class="button"
                        :disabled="!selectedDish"
                        @click="onDeleteSelectedDish"
                    >
                        Удалить блюдо
                    </button>
                </div>
            </div>
        </div>
        <div class="u-column u-gap-2 section u-grow">
            <h2>Создать новое блюдо</h2>
            <LabelledInput label="Название"
                v-model="newDish.name"
            />
            <TextArea v-model="(newDish.description as string)" label="Описание"/>
            <div class="u-row u-gap-2 u-align-items-center">
                <span>Категория:</span>
                <select class="select u-grow" v-model="newDish.categoryId">
                    <option v-for="category in dishCategoriesWithDishes" :value="category.id">
                        {{ category.name  }}
                    </option>
                </select>
            </div>
            <button
                type="button"
                class="button"
                :disabled="createNewDishButtonDisabled"
                @click="onCreateNewDish"
            >
                Создать блюдо
            </button>
        </div>
    </div>
</section>
<ModalWindow v-if="selectedDish" v-model="editDishImagesModalVisible">
    <EditDishImagesSection :dish="selectedDish"/>
</ModalWindow>
</template>

<script lang="ts">
import DishCategoryApi from '@/api/dishCategoy/dishCategory';
import TextArea from '@/components/TextArea.vue';
import LabelledInput from '@/components/LabelledInput.vue';
import type { Dish } from '@prisma/client';
import type { DishCreationParams } from '@root/server/api/dish/types';
import type { DishCategoryWithDishes } from '@root/server/api/dishCategory/types';
import { defineComponent, toRaw } from 'vue'
import DishApi from '@/api/dish/dish';
import ModalWindow from '@/components/ModalWindow.vue';
import EditDishImagesSection from './EditDishImagesSection.vue';

function getEmptyCreationParams(): DishCreationParams {
    return {
        name: '',
        description: '',
        categoryId: 0
    }
}

export default defineComponent({
    name: "EditDishesSection",
    components: { TextArea, LabelledInput, ModalWindow, EditDishImagesSection },
    data: (() => ({
        dishCategoriesWithDishes: [] as DishCategoryWithDishes[],
        selectedDish: null as Dish | null,
        editDishImagesModalVisible: false,
        newDish: getEmptyCreationParams()
    })),
    computed: {
        createNewDishButtonDisabled() {
            if (!this.newDish.name) {
                return true
            }
            if (!this.newDish.categoryId) {
                return true
            }

            return false
        }
    },
    methods: {
        onDishSelect(e: any) {
            const [categoryId, dishId] = (e.target as HTMLSelectElement)
                .value
                .split('-')
                .map(item => Number(item))
            const dish = this.dishCategoriesWithDishes
                .find(category => category.id === categoryId)
                ?.dishes
                .find(dish => dish.id === dishId)

            if (!dish) {
                return
            }
            this.selectedDish = structuredClone(toRaw(dish))
        },
        onSelectedDishCategorySelect(e: Event) {
            const newCategoryId = Number((e.target as HTMLSelectElement).value)
            if (!newCategoryId || !this.selectedDish) {
                return
            }

            this.selectedDish.categoryId = newCategoryId
        },
        onUpdateSelectedDish() {
            if (!this.selectedDish) {
                return
            }
            const {id, categoryId} = this.selectedDish
            const updatedDish = this.selectedDish
            this.selectedDish = null

            DishApi.update(updatedDish)
                .then(updatedDish => {
                    const category = this.dishCategoriesWithDishes
                        .find(category => category.id === categoryId)
                    
                    if (!category) {
                        this.fetchItems()
                        return
                    }
                    const index = category.dishes
                        .findIndex(dish => dish.id === id)
                    
                    if (index === -1) {
                        this.fetchItems()
                        return
                    }

                    category.dishes[index] = updatedDish
                })
        },
        onDeleteSelectedDish() {
            if (!this.selectedDish) {
                return
            }

            const {id, categoryId} = this.selectedDish
            DishApi.delete(id)
                .then(() => {
                    const category = this.dishCategoriesWithDishes
                        .find(category => category.id === categoryId)
                    
                    if (!category) {
                        this.fetchItems()
                        return
                    }
                    const index = category.dishes
                        .findIndex(dish => dish.id === id)
                    
                    if (index === -1) {
                        this.fetchItems()
                        return
                    }

                    category.dishes.splice(index, 1)
                })
        },
        onCreateNewDish() {
            DishApi.create(this.newDish)
                .then(newDish => {
                    const {categoryId} = newDish
                    const category = this.dishCategoriesWithDishes
                        .find(category => category.id === categoryId)
                    
                    if (!category) {
                        this.fetchItems()
                        return
                    }

                    category.dishes.push(newDish)
                })
        },
        fetchItems() {
            DishCategoryApi.getDishCategoriesWithDishes()
                .then(categories => this.dishCategoriesWithDishes = categories)
        }
    },
    mounted() {
        this.fetchItems()
    }
})
</script>

<style scoped lang="scss">
@import '@/styles/components/section.scss';
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/button.scss';
@import '@/styles/components/select.scss';
@import '@/styles/utilitary/color-utils.scss';
</style>