<template>
    <section class="section section_important-4 u-column u-gap-2 u-wrap u-bg-main">
        <div class="u-row u-gap-2 u-wrap">
            <div class="u-column u-gap-2 section u-grow">
                <h2>Существующие категории блюд</h2>
                <div class="u-row u-gap-2 u-align-items-center">
                        <span>Категория:</span>
                        <select class="select" @change="onSelect" :value="selectedCategory?.id">
                            <option v-for="category in categories" :value="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                    </div>
                <hr/>
                <div class="u-row u-gap-4 u-wrap">
                    <div class="u-column u-gap-2 u-justify-content-flex-end u-grow">
                        <LabelledInput label="Название"
                            :model-value="selectedCategory?.name"
                            :disabled="!selectedCategory"
                            @change="selectedCategory ? selectedCategory.name = $event : null"
                        />
                        <button
                            type="button"
                            class="button"
                            :disabled="!selectedCategory"
                            @click="onUpdateCategoryName"
                        >
                            Обновить название категории
                        </button>
                        <hr/>
                        <button
                            type="button"
                            class="button"
                            :disabled="!selectedCategory"
                            @click="onDeleteCategory"
                        >
                            Удалить категорию
                        </button>
                    </div>
                </div>
            </div>
            <div class="u-column u-gap-2 section u-grow">
                <h2>Создать новую категорию</h2>
                <LabelledInput label="Название"
                    v-model="newCategoryName"
                />
                <button
                    type="button"
                    class="button"
                    @click="onCreateNewCategory"
                >
                    Создать категорию
                </button>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import DishCategoryApi from '@/api/dishCategoy/dishCategory';
import LabelledInput from '@/components/LabelledInput.vue';
import type { DishCategory } from '@root/libs/prismaTypes';
import { defineComponent, toRaw } from 'vue'

export default defineComponent({
    name: "EditCategoriesSection",
    data: (() => ({
        categories: [] as DishCategory[],
        selectedCategory: null as DishCategory | null,
        newCategoryName: ''
    })),
    components: { LabelledInput },
    methods: {
        onSelect(e: any) {
            const id = Number(e.target?.value)
            const category = this.categories.find(category => category.id === id)
            if (!category) {
                return
            }

            this.selectedCategory = structuredClone(toRaw(category))
        },
        onUpdateCategoryName() {
            if (!this.selectedCategory) {
                return
            }

            const updatedCategory = this.selectedCategory
            this.selectedCategory = null

            DishCategoryApi.update(updatedCategory)
            .then(updatedCategory => {
                const index = this.categories.findIndex(category => category.id === updatedCategory.id)
                if (index === -1) {
                    return
                }
                this.categories[index] = updatedCategory
            })
        },
        onDeleteCategory() {
            if (!this.selectedCategory) {
                return
            }
            const id = this.selectedCategory.id

            DishCategoryApi.delete(this.selectedCategory.id)
                .then(() => {
                    this.categories = this.categories.filter(category => category.id !== id)
                    this.selectedCategory = null
                })
        },
        onCreateNewCategory() {
            const name = this.newCategoryName
            
            DishCategoryApi.create({name})
                .then(newCategory => {
                    this.newCategoryName = '',
                    this.categories.push(newCategory)
                })
        }
    },
    mounted() {
        DishCategoryApi.getAll()
            .then(categories => this.categories = categories);
    }    
})
</script>
<style scoped lang="scss">
@import '@/styles/components/section.scss';
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/button.scss';
@import '@/styles/components/select.scss';
@import '@/styles/utilitary/color-utils.scss';
</style>