<template>
    <section class="u-column u-gap-2 u-bg-main">
        <h2>Картинки для: {{ dish.name }}</h2>
        <div v-if="images.length" class="section section_important-3 images-container u-row u-wrap u-gap-2">
            <div v-for="image in images" class="images-container__image-wrapper">
                <img class="images-container__image"
                    :src="links.get(image.id)"
                    :alt="image.name"
                />
                <button type="button" class="button image-container__delete-button" @click="deleteImage(image)">
                    Удалить
                </button>
            </div>
        </div>
        <LabelledInput label="Загрузить ещё картики" type="file" @change="onUploadFiles"/>
    </section>
</template>

<script lang="ts">
import DishImageApi from '@/api/dishImage/dishImage';
import LabelledInput from '@/components/LabelledInput.vue';
import type { DishImage } from '@prisma/client';
import type { Dish } from '@root/libs/prismaTypes';
import { defineComponent, toRaw, type PropType } from 'vue'

type ImageUrlMap = Map<number, string>

export default defineComponent({
    name: "EditDishImagesSection",
    props: {
        dish: {
            type: {} as PropType<Dish>,
            required: true
        }
    },
    data: (() => ({
        images: [] as DishImage[],
        links: new Map() as ImageUrlMap
    })),
    watch: {
        async images() {
            const links = structuredClone(toRaw(this.links));
            const newLinks = new Map() as ImageUrlMap;
            const imagesToLoad = [];
            for (const image of this.images) {
                if (links.has(image.id)) {
                    newLinks.set(image.id, links.get(image.id) as string);
                }
                else {
                    imagesToLoad.push(image.id);
                }
                links.delete(image.id);
            }
            for (const linkToRemove of links.values()) {
                URL.revokeObjectURL(linkToRemove);
            }
            const loadedImages = await Promise.all(imagesToLoad.map(async (id) => {
                const blob = await DishImageApi.getImageFile(id);
                return {
                    id,
                    blob
                };
            }));
            for (const loadedImage of loadedImages) {
                newLinks.set(loadedImage.id, URL.createObjectURL(loadedImage.blob));
            }
            this.links = newLinks;
        },
        dish() {
            [...this.links.values()].map(link => URL.revokeObjectURL(link));
            this.fetchDishImages();
        }
    },
    methods: {
        onUploadFiles(files: File[]) {
            DishImageApi.uploadDishImages(this.dish.id, files)
                .then(() => this.fetchDishImages())
        },
        deleteImage(image: DishImage) {
            DishImageApi.deleteDishImage(image.id)
                .then(() => this.fetchDishImages())
        },
        fetchDishImages() {
            DishImageApi.getDishImages(this.dish.id)
                .then(images => this.images = images);
        }
    },
    mounted() {
        this.fetchDishImages();
    },
    components: { LabelledInput }
})
</script>

<style scoped>
@import '@/styles/components/section.scss';
@import '@/styles/utilitary/flex.scss';
@import '@/styles/components/button.scss';
@import '@/styles/utilitary/color-utils.scss';
.images-container {
    
}
.images-container__image-wrapper {
    border: solid thin var(--palette-secondary-dark);
    position: relative;
}
.images-container__image {
    max-width: 30em;
    display: block;
}
.image-container__delete-button {
    position: absolute;
    top: var(--padding-2);
    right: var(--padding-2);
}
.images-container__image-wrapper:not(:hover) .image-container__delete-button {
    display: none;
}
</style>