<template>
  <LoadingOverlay :visible="overlayVisible" />
  <div class="page">
    <header class="page__header">
      <div class="page__header-spacer"/>
      <div class="page__header-content">
        <RouterLink :to="RoutePaths.MenuView">
          <button class="button">
            Обзор меню
          </button>
        </RouterLink>
        <RouterLink v-if="isAdmin" :to="RoutePaths.MenuEdit">
          <button class="button">
            Редактирование меню
          </button>
        </RouterLink>
        <button v-if="isAuthorized" class="button" @click="clearLoggedUserInfo">
            Выйти
          </button>
        <RouterLink v-else :to="RoutePaths.Login">
          <button class="button">
            Войти
          </button>
        </RouterLink>
      </div>
      <div class="page__header-spacer"/>
    </header>
    <RouterView />
  </div>
</template>
<script lang="ts">
import {defineComponent, onMounted, onUnmounted} from "vue";
import {RouterView} from "vue-router";
import {mountPalette, unmountPalette} from "@/styles/color/palette";
import { RoutePaths } from "./router/paths";
import { useAuthContext } from "./stores/authContext";
import { mapActions, mapState } from "pinia";
import LoadingOverlay from "./components/LoadingOverlay.vue";
import { useOverlayContext } from "./stores/overlayContext";
import useWatchAllowedRoute from "./hooks/useWatchAllowedRoute";

export default defineComponent({
  name: "AppRoot",
  components: { RouterView, LoadingOverlay },
  computed: {
    ...mapState(useAuthContext, ['isAdmin', 'isAuthorized']),
    ...mapState(useOverlayContext, ['overlayVisible']),
    RoutePaths() {
      return RoutePaths
    }
  },
  methods: {
    ...mapActions(useAuthContext, ['clearLoggedUserInfo'])
  },
  setup() {
    useWatchAllowedRoute()
    onMounted(mountPalette)
    onUnmounted(unmountPalette)
  }
})
</script>
<style scoped lang="scss">
@import '@/styles/components/button.scss';
@import '@/styles/components/page.scss';
</style>

