/* THESE ARE JUST SOME TEMPLATES FOR REAL PALETTE VARIABLES COLORS
   ADDED HERE TO MAKE IDE RESOLVE THESE VARIABLES
 */
body {
    --palette-primary-light: unset;
    --palette-primary-main: unset;
    --palette-primary-dark: unset;
    --palette-secondary-light: unset;
    --palette-secondary-main: unset;
    --palette-secondary-dark: unset;
    --palette-tertiary-light: unset;
    --palette-tertiary-main: unset;
    --palette-tertiary-dark: unset;

    --palette-error: unset;
    --palette-danger: unset;
    --palette-warning: unset;
    --palette-success: unset;
    --palette-light: unset;
    --palette-dark: unset;
}
body {
    --palette-main-light: unset;
    --palette-main: unset;
    --palette-main-1: unset;
    --palette-main-2: unset;
    --palette-main-3: unset;
    --palette-main-text: unset;
    --palette-main-text-anti: unset;
}