body {
    --padding-1: 0.2em;
    --padding-2: 0.5em;
    --padding-3: 1em;
    --padding-4: 1.5em;
    --padding-5: 2em;
    --border-radius-1: 0.5em;
    --border-radius-2: 1em;
    --border-radius-3: 1.5em;
    --border-radius-4: 2em;
    --z-main: 0;
    --z-above-1: 1;
    --z-above-2: 2;
    --z-important-1: 3;
    --z-important-2: 4;
    --z-popup-1: 5;
    --z-popup-2: 6;
    --default-regular-font: sans-serif, serif;
    --icon-size-small: 1em;
    --icon-size-medium: 1.5em;
    --icon-size-big: 2.5em;
    --expanded-sidebar-width: min(20em, 100dvw, 100dvh);

    --transition-time-short: 0.2s;
    --transition-time-medium: 0.5s;
    --transition-time-long: 1s;
}