body {
    margin: 0;
    padding: 0;
    font-family: var(--default-regular-font);
}
html, body {
    height: 100%;
}
hr {
    margin: var(--padding-2) 0;
    border: solid thin var(--palette-dark);
}
h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}